.tasks {
  margin-top: 10px;
  border: 1px solid black;
  box-shadow: 0 0 10px #3B3B3B;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to top left, #006CB4 10%, #0B80CF 50%, #006CB4 90%);
  height: 200px;
}
